__pycache__/
*.py[cod]
*.so
*.egg-info/

venv/
.env/
.venv/

.vscode/
.idea/
*.swp
*~

.streamlit/secrets.toml     
**/.streamlit/config.toml   
.cache/

.ipynb_checkpoints/


*.log


dist/
build/


coffee.db


data/*.csv
